body {
    color: black;
    font-size: 14px;
    line-height: 25px;
    margin: 0px auto 0px auto;
    width: 600px;
    font-family: "Libre Baskerville", Georgia, Times, "Times New Roman", serif;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 0 5%;
    height: 40px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 5%;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 14px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

p.caption {
   text-align: center;
   font-size: 14px;
   text-color: #586e75;
}

div.figure {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 5px;
    width: 600px;
}

h1 {
    font-family: "Libre Baskerville", Georgia, Times, "Times New Roman", serif;
    font-size: 32px;
    font-style: bold;
    font-variant: bold;
    line-height: 26.4px;
}
h3 {
    font-family: "Libre Baskerville", Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}
p {
    font-family: "Libre Baskerville", Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
blockquote {
    font-family: "Libre Baskerville", Georgia, Times, "Times New Roman", serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

img {
    display: block;
    margin: auto;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 5px;
    width: 600px;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}
